<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> <%= pageTitle %> </title>
</head>
<body>
  <h1><%= pageTitle %></h1>
 <h1> <%= welcomeMessage %> </h1>

 <form action="/tasks" method="post">
  <label for="task">Add a new task</label>
  <input type="text" id="task" name="task">
  <button type="submit">Add Task</button>
</form>

    <ul>
      <% tasks.forEach(task => { %>
        <li>
          <%= task.task %>
          <form action="/tasks/<%= task.id %>" method="delete">
            <button type="submit">Delete</button>
          </form>
        </li>
      <% }); %>
    </ul>
</body>
</html>